    <footer class="sheet-footer">
        <button type="button" data-action="createPlaylist" {{#unless hasSelection}}disabled{{/unless}}>
            <i class="fas fa-check"></i> Create Playlist ({{previewTracks.length}} tracks)
        </button>
    </footer>